<% if subscription.id %>
  <% url = subscription_path(subscription) %>
<% else %>
  <% url = forum_subscriptions_path(subscription.forum) %>
<% end %>

<%= form_with(model: subscription, url: url) do |form| %>
  <h2><%= "Subscription for forum #{subscription.forum&.forum_name}." %></h2>

  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority, in: 1..10 %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
